.x.axis {
  text,
  .axis-point {
    cursor: pointer;
    transition: opacity 400ms ease-in-out;
  }

  .axis-point {
    fill: @egg-blue;
    opacity: .2;
  }

  .tick {
    &.active {
      .axis-point {
        opacity: 1;
      }

      text {
        opacity: 1;
      }
    }
  }
}

.y.axis {
  text {
    font-size: 9px;
  }

  .axis-point {
    fill: @white;
    opacity: .3;
  }

  .line {
    stroke: url('#lines-tick-bg');
    stroke-opacity: .6;
    opacity: 1;
  }
}