.circles {
  .circle,
  .helper-circle-small,
  .helper-circle-big {
    fill: @egg-blue;
    cursor: pointer;
  }

  .circle {
    filter: url('#circle-shadow');
  }

  .helper-circle-small {
    opacity: .35;
    cursor: pointer;
  }

  .helper-circle-big {
    opacity: .25;
    cursor: pointer;
    filter: url('#circle-shadow-hover');
  }
}