#path-line-bg {
    stop {
        stop-opacity: 1;

        &[offset="0%"] {
            stop-color: @amaranth;
        }

        &[offset="100%"] {
            stop-color: @coral;
        }
    }
}

#path-area-bg {
    stop {
        &[offset="0%"] {
            stop-color: @egg-blue;
            stop-opacity: .4;
        }

        &[offset="75%"] {
            stop-color: @baltic-sea;
            stop-opacity: 0;
        }
    }
}

#lines-tick-bg {
    stop {
        stop-color: @white;

        &[offset="0%"] {
            stop-opacity: .1;
        }

        &[offset="45%"] {
            stop-opacity: .5;
        }

        &[offset="65%"] {
            stop-opacity: .1;
        }

        &[offset="100%"] {
            stop-opacity: .1;
        }
    }
}

#left-shadow-bg {
    stop {
        stop-color: @baltic-sea;

        &[offset="20%"] {
            stop-opacity: 1;
        }

        &[offset="50%"] {
            stop-opacity: .8;
        }

        &[offset="100%"] {
            stop-opacity: 0;
        }
    }
}

#right-shadow-bg {
    stop {
        stop-color: @baltic-sea;

        &[offset="0%"] {
            stop-opacity: 0;
        }

        &[offset="50%"] {
            stop-opacity: .8;
        }

        &[offset="80%"] {
            stop-opacity: 1;
        }
    }
}