.lines {
  line {
    cursor: pointer;
    transition: opacity 400ms ease-in-out;
    opacity: .3;

    &.active {
      opacity: 1 !important;
    }
  }

  .lines-tick {
    stroke-width: 1;
    stroke: url('#lines-tick-bg');
  }

  .lines-tick-hover {
    stroke: transparent;
    stroke-opacity: 0;
    stroke-width: 15;

    @media (max-width: 1024px) {
      stroke-width: 25;
    }
  }
}