.tooltips {
  .tooltip {
    transition: opacity 400ms ease-in-out;
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }
}

+ .text-tooltip {
  font-size: 12px;
  font-family: Poppins, serif;
  color: @white;
  position: absolute;
  top: 50px;

  &.active {
    .first-tooltip-helper {
      opacity: 1 !important;
    }

    .second-tooltip-helper {
      z-index: 1;

      .second-tooltip-helper-container {
        right: 0;
      }
    }
  }

  &.left {
    .first-tooltip-helper {
      left: 0;
    }

    &.active {
      .second-tooltip-helper {
        .second-tooltip-helper-container {
          left: 0;
        }
      }
    }

    .second-tooltip-helper {
      right: 35px;
      text-align: right;

      .second-tooltip-helper-container {
        left: 100%;
      }
    }
  }

  .first-tooltip-helper {
    position: absolute;
    left: -42px;
    top: 0;
    opacity: 0;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    line-height: 1;
    white-space: nowrap;
  }

  .second-tooltip-helper {
    overflow: hidden;
    width: 400px;
    position: absolute;
    z-index: -1;
    transition: z-index 300ms ease-in-out; 

    @media (max-width: 1024px) {
      width: 300px;
    }

    @media (max-width: 320px) {
      width: 135px;
    }

    .second-tooltip-helper-container {
      position: relative;
      right: 100%;
      transition: all 350ms ease-in-out;
    }
  }

  .year {
    font-size: 18px;
  }

  .subtitle {
    opacity: .5;
  }

  .subtitle {
    text-transform: uppercase;
    font-size: 11px;
  }

  .title {
    color: @amaranth;
    font-size: 22px;
    margin: 0;
    line-height: 1;
  }

  .text {
    line-height: 20px;
  }
}